<h1>Welcome</h1>
<br>
<p>Welcome to rock RockPaperScissors, a simple game in which two players
compete using either Rock, Paper or Scissors (simultaneously). The rules are as follows:</p>
<p>Rock beats scissors, but loses to paper.</p>
<p>Scissors beats paper, but loses to rock.</p>
<p>Paper beats rock, but loses to scissors.</p>
<br>
<p>Enter your arguments in the url to play.</p>

<img alt="hands in the symbol of rock, paper and scissors" src="https://images.discordapp.net/avatars/421090818506358784/ad4a1fad288cf8d6471c067ef414cd53.png?size=512">
